<%- include('partial_headers.ejs'); %>
    <h1>Single bike Datasheet</h1>

    <p><a href='/bikes/list'>&raquo; Back to the list</a></p>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>My Bike</td>
            <tr>
                <td>Brand</td>
                <td>
                    <%= onebike.bike_brand %>
                </td>
            </tr>
            <tr>
                <td>Model</td>
                <td>
                    <%= onebike.bike_name %>
                </td>
            </tr>
            <tr>
                <td>Price(€)</td>
                <td>
                    <%= onebike.bike_price %>
                </td>
            </tr>
            <tr>
                <td>Height(kg)</td>
                <td>
                    <%= onebike.bike_height %>
                </td>
            </tr>
            <tr>
                <td>Name of the person</td>
                <td>
                    <%= onebike.person_name  %>
                </td>
            </tr>

    </table>
    </body>

    </html>