<%- include('partial_headers.ejs'); %>

    <h1>List of stores</h1>

    <!-- after session -->
    <% if (flashMessage) { %>
        <p style='color:red'>
            <%= flashMessage %>
        </p>
        <% } %>

            <p><a href='/stores/edit/0'>&raquo; Add a new store</a></p>

            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>localisation</td>
                    <td>Size</td>
                    <td>Stock</td>
                    <td>brandNb</td>
                </tr>

                <% if (stores.length) { %>
                    <% for (var c of stores) { %>
                        <tr>
                            <td>
                                <%= c.store_id %>
                            </td>
                            <td>
                                <%= c.person_name %>
                            </td>
                            <td>
                                <%= c.store_name %>
                            </td>
                            <td><a href='/stores/show/<%= c.store_id %>'>[SHOW]</a></td>
                            <td><a href='/stores/edit/<%= c.store_id %>'>[EDIT]</a></td>
                            <td><a href='/stores/del/<%= c.store_id %>'>[DEL]</a></td>
                        </tr>
                        <% }%>
                            <% } %>

            </table>
            </body>

            </html>