<%- include('partial_headers.ejs'); %>
    <h1>ONE STORE</h1>

    <p><a href='/stores/list'>&raquo; Back to the list</a></p>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>My Store</td>
            <tr>
                <td>Name</td>
                <td>
                    <%= onestore.store_name %>
                </td>
            </tr>
            <tr>
                <td>Localisation</td>
                <td>
                    <%= onestore.store_localisation %>
                </td>
            </tr>
            <tr>
                <td>Size(m^2)</td>
                <td>
                    <%= onestore.store_size %>
                </td>
            </tr>
            <tr>
                <td>Stock</td>
                <td>
                    <%= onestore.store_stock %>
                </td>
            </tr>
            <tr>
                <td>Nomber of brand</td>
                <td>
                    <%= onestore.store_brandNb  %>
                </td>
            </tr>

    </table>
    </body>

    </html>